@model IEnumerable<FormRegistrator.ViewModels.RegistrationDateGroup>

@{
    ViewBag.Title = "Client Body Statistics";
}

<h2>Client Statistics</h2>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Number registered clients
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @item.ClientCount
            </td>
        </tr>
    }
</table>